
  

<div class="container m-2p-2 ">

    <div class="row">
        <div class= "col-sm-3 sidebar ">
          <!-- Sidebar -->
          
          <div class="sidebar-heading list-group-item list-group-item-action bg-light"><b>Services</b> </div>

            <div class="list-group list-group-flush">
              
              <a href="#" class="list-group-item list-group-item-action bg-light">Decoration</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Photo/Vedio</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Catering</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Music DJ's</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Make up</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Gift</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Cake</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Kids Games</a>
            </div>
            
          
        
        </div>
            <!-- /#sidebar-wrapper -->  
        
            <div class="col-sm-9 ">
            <!-- Page Content -->
            <div id="page-content-wrapper">
        
             
        
              <div class="container-fluid">
                <h1 class="mt-1">Popular Events</h1>
                  </div>
              <div class="card-deck card-group">
                <div class="card">
                  <img src="assets/images/cake.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Birthday Party</h5>
                  </div>
                  
                </div>
                <div class="card">
                  <img src="assets/images/anniversary.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Anniversary</h5>
                  </div>
                </div>
                   
                
                <div class="card">
                  <img src="assets/images/farewell.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Farewell</h5>
                </div>
                
                </div>
                <div class="card">
                    <img src="assets/images/conference.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Conference</h5>
                    </div>
                    
                  </div>
                  <div class="card">
                    <img src="assets/images/training.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Training</h5>
                    </div>
                   
                  </div>
              </div>
            </div>
          </div>
      </div>
</div>

            <!-- /#page-content-wrapper -->
        
          

